/* md */

@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {

	header.header-top[role="header"] hgroup nav ul > li > a{ padding:0 5px 0 9px}

/*	header.header-top[role="header"] section{ top:14%}
*/
	.pricing > section{ margin:0; width:32%; max-width:32%}

	.store-pan section { margin-bottom:30px}

	.store-pan figure img{ margin:0 auto; width:100%; max-width:100%; display:block}

}

/* xs */

@media (max-width: 767px) {

	header.header-top[role="header"] .container{ padding-top:10px; z-index:6}

	header.header-top[role="header"] section h2{ font-size:26px; line-height:28px; margin-bottom:2px}

	header.header-top[role="header"] section p{ font-size:15px; line-height:30px; margin:0 3%; padding-top:5px}

	header.header-top[role="header"] section .video-button{ margin:4% auto; width:65px; height:65px; line-height:65px; font-size:35px}

	header.header-top[role="header"] section a{ font-size:14px; padding:0 20px; line-height:55px}

	header.header-top[role="header"] hgroup{ position:relative}

	header.header-top[role="header"] hgroup nav { margin-top:0}

	header.header-top[role="header"] hgroup nav .navbar-toggle{ position:absolute; margin:0; top:-48px; right:15px}

	header.header-top[role="header"] .navbar-fixed-top h1 img{ width:60%}

	header.header-top[role="header"] hgroup nav ul{ text-align:center; background-color:rgba(0,0,0,0.8); padding:10px}

	header.header-top[role="header"] hgroup nav ul > li{ display:block;}

	.section-one article p br{ display:none}

	.store-pan section { margin-bottom:30px}

	.store-pan figure img{ margin:0 auto; width:100%; max-width:100%; display:block}

	.footer{ padding:30px 0}

	.socil-icons a{ margin:0 2px; width:30px; height:30px; font-size:15px; line-height:30px}

	.footer nav{ padding-top:10px}

}

@media (max-width: 414px) {

	header.header-top[role="header"] section h2{ font-size:36px; line-height:41px}

	.subscribe-form button{ font-size:13px; padding:0 5px}

	.subscribe-form input[type="email"]{ padding-right:120px}

	.subscribe-form button i{ padding-right:0}

	.store-pan figure { height: 250px; width: 250px; margin: 0 auto;}

}